nav img {
    width: 70%;
    right: 50%;
}
nav a {
    text-decoration: none;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
nav {
    border-bottom: 1px solid #e7e7e7;
}
.nav-link {
    margin-right: 40px;
}